body,
html {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  color: white;
  font-family: Helvetica;
}

.App {
  margin: 0 auto;
}

.category-page h1 {
  text-align: center;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 690px) {
  .search-input {
    height: 30px;
    width: 95%;
  }

  .search-values {
    width: 87%;
  }
}

@media only screen and (max-width: 450px) {
}

@media only screen and (max-width: 350px) {
}

@media only screen and (max-height: 800px) {
}
