body,
html {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  color: white;
  font-family: Helvetica;
}

.App {
  margin: 0 auto;
}

/*header*/
nav {
  background: black;
  color: #f20057;
  height: 80px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 15px;
  box-sizing: border-box;
}

.logo {
  float: left;
  font-size: 30px;
}

.logo a {
  color: #f20057;
  text-decoration: none;
}

.logo a:hover {
  color: #f20057;
}

.logo-image {
  height: 45px;
}


.search-bar {
  float: right;
}

.search-input {
  background: none;
  color: #f20057;
  border: 1px solid #f20057;
  outline: none;
  border-radius: 8px;
  padding: 5px;
  padding-left: 15px;
  width: 250px;
  height: 30px;
  font-weight: 600;
  margin-top: 5px;
  position: relative;
}

.search-values {
  background: #0d0d0d;
  width: 265px;
  border-radius: 5px;
  border: 2px solid #f20057;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  position: absolute;
  margin-left: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
  z-index: 1;
}

.search-values ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.search-values ul li {
  margin: 8px;
}

.search-values a {
  text-decoration: none;
  color: #f20057;
}

.search-values a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.bgImage {
  height: 750px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  z-index: 0;
}

.popularInfo {
  position: absolute;
  top: 20%;
  left: 6%;
  width: 40%;
}

.popularInfo h1 {
  margin: 0;
  margin-bottom: 30px;
}

.popularInfo button {
  background: #f20057;
  color: white;
  height: 50px;
  width: 200px;
  margin-top: 20px;
  font-size: 20px;
  outline: none;
  border: 1px solid #f20057;
  cursor: pointer;
  font-weight: lighter;
}

.popularInfo button:hover {
  background: #f20057;
}

.switchImg {
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.switchImg div {
  width: 30px;
  height: 10px;
  background: transparent;
  border: 1px solid white;
  border-radius: 2px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.switchImg div.active {
  background: #404040;
}

/*lists of movies*/
.lists {
  margin: 100px 0;
}

.lists:first-child {
  margin-top: 50px;
}

.lists h2 {
  padding-left: 60px;
  margin-bottom: 10px;
}

.video-list-scroller {
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video-list-scroller::-webkit-scrollbar {
  display: none;
}

.video-list-scroller-item {
  padding: 0px;
  height: 190px;
  display: flex;
  align-items: center;
  user-select: none;
  border: none;
}

.video-list-scroller-separator {
  margin: 5px 2px;
}

.video-list-scroller-menu-arrow {
  border: 0;
  background-color: transparent;
  color: #f20057;
  font-size: 40px;
  padding: 20px;
  cursor: pointer !important;
}

.video-list-scroller-menu-arrow:disabled {
  padding: 20px;
  color: #75002b;
  opacity: 1 !important;
  cursor: default !important;
}

.video-card {
  position: relative;
  width: 300px;
  height: 170px;
  transition: all 0.7s;
  background: black;
}

.video-title {
  position: absolute;
  top: 40%;
  left: 50%;
  max-width: 300px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  white-space: initial;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.video-title.visible {
  color: #fff;
  opacity: 1;
  visibility: visible;
}

.video-card-image {
  width: 300px;
  height: 170px;
  vertical-align: 0px;
  transition: all 0.7s;
  user-select: none;
}

.video-card:hover {
  width: 330px;
  height: 190px;
}

.video-card:hover .video-title {
  visibility: visible;
  opacity: 1;
}

.video-card:hover .video-card-image {
  width: 330px;
  height: 190px;
  vertical-align: -12px;
  opacity: 0.3;
}

.horizontal-menu {
  height: 220px;
}

.content {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  min-height: 410px;
  font-size: 18px;
  color: #e6e6e6;
  font-weight: 500;
}

.content h1 {
  text-align: center;
  margin: 30px;
  margin-top: 10px;
}

.content p {
  line-height: 19px;
}

.video {
  padding-top: 56.25%;
  position: relative;
  -webkit-box-shadow: 0 0 30px grey;
  box-shadow: 0 0 30px grey;
}

iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.overview-container {
  margin-top: 10px;
}

.year-run-vote span {
  font-size: 14px;
  padding-right: 6px;
}

.run,
.vote {
  border-left: 1px solid white;
  padding-left: 6px;
}

.greyed {
  color: #9c9c9c;
}

i {
  color: gold;
}

.footer {
  height: 80px;
  margin-top: 50px;
  padding: 20px 20px 50px;
  background: black;
  color: white;
  border-top: 1px solid #f20057;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px
}

.footer-logo-fecane {
  height: 40px;
}

.footer-logo-canada {
  height: 25px;
}

.back-height {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 900px) {
  .back-height {
    height: 100vh;
  }
  /*header*/
  .bgImage {
    height: 700px;
  }

  .header-overview {
    display: none;
  }

  .popularInfo {
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .switchImg div {
    margin: 10px;
  }

  /*lists of movies*/

  .lists {
    margin: 0;
  }

  .lists h2 {
    margin-bottom: 0;
  }

  .video-title {
    color: #fff;
    opacity: 1;
    visibility: visible;
  }

  .video-list-scroller-item {
    height: 160px;
  }

  .video-card,
  .video-card-image {
    width: 230px;
    height: 140px;
  }

  .video-card:hover,
  .video-card:hover .video-card-image {
    width: 260px;
    height: 160px;
  }

  .arrow-prev,
  .arrow-next {
    font-size: 20px;
  }

  .scroll-menu-arrow {
    padding: 10px;
  }

  /*video-info*/
  .content {
    width: 90%;
    font-size: 93%;
  }

  .content h1 {
    margin: 30px 0;
  }
}

@media only screen and (max-width: 690px) {
  nav {
    height: 130px;
  }
  .logo,
  .search-bar {
    float: none;
  }

  .logo {
    text-align: center;
  }

  .search-input {
    height: 30px;
    width: 95%;
  }

  .search-values {
    width: 87%;
  }
  .bgImage {
    height: 400px;
    background-size: cover;
  }

  .popularInfo button {
    margin: 0;
  }

  .video-title {
    color: #fff;
    opacity: 1;
    visibility: visible;
  }

  .video-list-scroller-item {
    height: 120px;
  }

  .video-card,
  .video-card-image {
    width: 190px;
    height: 100px;
  }

  .video-card:hover,
  .video-card:hover .video-card-image {
    width: 220px;
    height: 120px;
  }

  .video-title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
}

@media only screen and (max-width: 350px) {
  .back-height {
    height: 100%;
  }

  .popularInfo {
    text-align: center;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .popularInfo button {
    height: 40px;
    width: 100px;
    font-size: 90%;
    margin-top: 10px;
  }

  /* list of movies*/

  .horizontal-menu {
    height: 190px;
  }
  
  .video-title {
    color: #fff;
    opacity: 1;
    visibility: visible;
  }

  .video-list-scroller-item {
    height: 110px;
  }

  .video-card,
  .video-card-image {
    width: 160px;
    height: 90px;
  }

  .video-card:hover,
  .video-card:hover .video-card-image {
    width: 190px;
    height: 110px;
  }
}

@media only screen and (max-height: 800px) {
  .back-height {
    height: 100%;
  }
}
